.reviewItem {
  margin: 20px 0;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border: 2px solid #064789;
}

.review p {
  margin: 5px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.rating_break {
  margin-bottom: 15px;
}

.userRating {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  align-items: center;
}

.rating {
  color: gold;
  font-size: 1.3rem;
}

.price {
  color: green;
}

.volume {
  color: black;
}

.userReview {
  margin: 20px 0;
  word-wrap: break-word;
}

.userReview p {
  margin: 10px 0;
}
