.reviewItem {
  margin: 20px 0;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  border: 2px solid #064789;
}

.reviewItem > h3 {
	 width: 100%;
	 margin: 0;
	 padding: 10px;
	 background-color: #017ec1;
}

.reviewItem p {
  margin: 10px auto;
	width: 80%;
}

.rating_break {
  margin-bottom: 15px;
}

.userRating {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  align-items: center;
}

.rating {
  color: gold;
  font-size: 1.3rem;
}

.price {
  color: green;
}

.volume {
  color: black;
}

.userReview {
  margin: 20px auto;
	width: 80%;
  word-wrap: break-word;
}

.userReview p {
  margin: 10px 0;
}
