.favorite {
  width: 100%;
  border: 2px solid #e7e7e7;
  /* padding: 5px; */
}

.venueHeader {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 5px;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.venueHeader,
.ratingsContainer,
.about {
  padding-left: 3px;
  padding-right: 3px;
}

.ratingsContainer {
  margin-bottom: 5px;
}

.venueHeader,
.about,
.about p,
.types {
  margin-bottom: 3px;
}

.venueHeader h3 {
  margin: 0;
  word-wrap: break-word;
}

.types p:first-of-type::before {
  content: none;
  margin: 0;
}

.types p::before {
  content: '|';
  margin: 0 3px;
}

.favoriteControls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
  margin: 10px 0;
  border-top: 2px solid #e7e7e7;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.icon svg {
  font-size: 1.8em;
  color: rgb(39, 37, 37);
}

.icon a,
.icon span {
  color: black;
  font-size: 0.7em;
}

#delete {
  color: rgb(175, 21, 21);
}
