.state {
  text-transform: uppercase;
}

.link > a {
  color: black;
}

.link > a:visited {
  color: black;
}

.city {
  text-transform: capitalize;
}

.type {
  text-transform: capitalize;
}

.favorite {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  border: 2px solid #064789;
}

.favorite h3 {
	 margin: 0;
	 padding: 5%;
  text-align: center;
	background-color: #F14038;
	font-size: 1.2em;
}

.favorite_info {
	 width: 80%;
	 margin: auto;
}

.favorite button {
  display: block;
  margin: 30px auto;
  border-radius: 5px;
  background-color: transparent;
  min-width: 200px;
  height: 40px;
  font-size: 1.3em;
}

.delete_favorite {
  border-color: #ed254e;
}

.visit {
  border-color: #064789;
}

@media screen and (min-width: 450px) {
  .favorite button {
    width: 100px;
    font-size: 1.3em;
  }

  .favorite_info {
    font-size: 1.3em;
  }

  .delete_favorite button:hover {
    color: white;
    background-color: #ed254e;
    cursor: pointer;
  }

  .visit button:hover {
    color: white;
    background-color: #064789;
    cursor: pointer;
  }
}

