
.state {
  text-transform: uppercase;
}

.city {
  text-transform: capitalize;
}

.type {
  text-transform: capitalize;
}


.result {
  padding: 10px;
  line-height: 1.5rem;
  border: 2px solid #064789;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  margin-top: 10px;
  margin-bottom: 10px;
}

.result h3 {
  margin: 0;
}

.result_rating {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.result_rating span {
  font-size: 1.3em;
}

.price {
  color: green;
}

.rating {
  color: gold;
}

.result p {
  margin: 0;
}

.result button {
  display: none;
}

.NA {
  color: black;
}

@media screen and (min-width: 800px) {
  .result button {
    display: block;
    margin: 10px 0 10px auto;
    height: 35px;
    width: 25%;
    border-radius: 17px;
    background-color: transparent;
    border-color: #064789;
  }

  .result button:hover {
    cursor: pointer;
    color: white;
    background-color: #064789;
  }
}
