.Loading {
  width: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-between;
}

.Loading svg {
  margin-bottom: 30px;
}

@media screen and (min-width: 800px) {
  .Loading {
    margin-top: 100px;
  }
}
