* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Mobile styling

.wrapper {
  background-color: #c4dcf8;
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form > input,
select,
button {
  margin: 10px 0;
  height: 45px;
}

input,
select {
  padding: 10px;
  font-size: 1.2em;
}

.form > button {
  background-color: #4a6ddd;
  color: white;
  font-size: 1.3em;
}

.heroImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../assets/annie-spratt-WS2anBsrum0-unsplash.jpg');
  height: 600px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  display: flex;
}

.heroText {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.onboarding {
  display: flex;
  flex-direction: column;
  margin: 40px auto 0 auto;
  padding-bottom: 100px;
}

.onboardingHeader {
  text-align: center;
  margin: 25px auto;
  width: 90%;
  word-wrap: break-word;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px auto;
  text-align: center;
  justify-content: space-evenly;
}

.onboardingCard {
  width: 100%;
  margin: 25px 0;
  // box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.75);
  // padding: 25px;
}

.onboardingCardSvg {
  width: 100%;
  height: 150px;
  margin: 5% auto;
  color: #4881c2be;
}

h2,
h4 {
  text-align: center;
  margin: 10px;
}

.onboardingContent {
  grid-row-start: 2;
}

@media screen and (min-width: 450px) {
  .wrapper {
    background-color: #c4dcf8;
  }

  .heroImage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../assets/annie-spratt-WS2anBsrum0-unsplash.jpg');
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    display: flex;
  }

  .heroText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .form {
    z-index: 1;
    width: 60%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .form > input,
  select {
    width: 300px;
    height: 45px;
    font-size: 18px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
  }

  .form > button {
    width: 75px;
    height: 45px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #4a6ddd;
  }

  .onboarding {
    width: 70%;
    margin: 100px auto 0 auto;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 800px) {
  .form {
    width: 80%;
  }

  .onboarding {
    margin: 50px auto 0 auto;
  }

  .onboardingHeader {
    margin-bottom: 75px;
  }

  .cardContainer {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .onboardingCard {
    width: 30%;
    padding: 20px;
  }
}
