.reviewForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1.2em;
}

.reviewForm fieldset {
  border: none;
}

.reviewForm legend {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.8em;
}

.formElement {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.formElement label {
  font-weight: bold;
}

.formElement select {
  width: 50%;
  height: 35px;
  padding: 5px;
  margin: 1em auto;
}

.amenitiesContainer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  width: 100%;
  margin: 0 auto;
}

.amenityElement {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 10px 0;
  word-wrap: break-word;
  width: 100%;
}

.amenitiesContainer label {
  margin-left: 10px;
  word-wrap: break-word;
  width: 70%;
}

.formElement textarea {
  width: 80%;
  height: 60px;
  margin: 10px auto;
}

.reviewFormControls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  width: 100%;
  padding: 5px;
}

.reviewFormControls button {
  height: 2.5em;
}
