* {
  box-sizing: border-box;
}

.registration {
  position: relative;
  top: 100px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}

.formElement {
  position: relative;
  overflow: hidden;
  margin: 20px auto;
}

.regLabel {
  transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s right 0.2s,
    left 0.2s;
  position: absolute;
  color: #999;
  padding: 7px 6px;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
}

.regInput {
  width: 100%;
  border: 2px solid gray;
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 12px;
  outline: 0;
  font-size: 1em;
}

.regInput:valid {
  background: white;
}

.regInput:focus {
  border-color: lightblue;
  padding: 3px 6px 20px 6px;
}

.regInput:focus + label {
  background: lightblue;
  color: black;
  font-size: 90%;
  padding: 1px 6px;
  z-index: 2;
  text-transform: uppercase;
  top: 90%;
  margin-top: -16px;
}

.validationError {
  color: red;
}

@media screen and (min-width: 450px) {
  .registration {
    width: 320px;
    top: 200px;
  }
}

@media screen and (min-width: 800px) {
  .wrapper {
    width: 80%;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 200px;
    margin: 0 auto;
  }

  .regInput:focus + label {
    background: lightblue;
    color: black;
    font-size: 70%;
    padding: 1px 6px;
    z-index: 2;
    text-transform: uppercase;
    top: 100%;
    margin-top: -16px;
  }

  .registration {
    position: initial;
  }

  .imageContainer {
    width: 50%;
  }

  .imageContainer > svg {
    width: 100%;
  }
}
