* {
  box-sizing: border-box;
}

.mobile {
  display: initial;
}

.mobileControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}

.mobileControls button {
  width: 100px;
}

.resultsPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 70px 5px;
  margin: 0 auto;
}

.resultsControls,
.mapContainer {
  display: none;
}

@media screen and (min-width: 450px) {
  .mobile {
    display: none;
  }

  .resultsPage {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 75px 1fr;
    padding-top: 65px;
  }

  .resultsControls {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    grid-column: span 2;
    grid-row: 1;
    width: 300px;
    /* border-right: 1px solid black; */
    text-align: center;
  }

  .resultsContainer {
    grid-column-start: auto;
    grid-row-start: 2;
    /* border-left: 1px solid black; */
    /* border-right: 1px solid black; */
    /* padding-top: 100px; */
  }

  .resultsControls h3 {
    width: 300px;
    text-align: left;
  }

  .mapContainer {
    display: grid;
    grid-row-start: 2;
    grid-column-start: auto;
    width: 100%;
    /* border-left: 1px solid black; */
    position: sticky;
    top: 0;
    height: 100vh;
  }
}
/* @media screen and (min-width: 800px) {
  .mapContainer {
    display: none;
  }
} */
@media screen and (min-width: 1300px) {
  .mobile {
    display: none;
  }

  .resultsPage {
    display: grid;
    grid-template-columns: 20% 45% 35%;
    grid-template-rows: 1fr;
    padding-top: 50px;
    padding-bottom: 0;
  }

  .resultsControls {
    display: block;
    grid-column: 1;
    top: 0;
    width: 400px;
    height: 200vh;
    padding-top: 125px;
    padding-left: 20px;
    position: absolute;
  }

  .resultsContainer {
    grid-column-start: 2;
    grid-row-start: 1;
    width: 100%;
    padding: 25px 50px 0 0;
  }

  .resultsContainer li:first-of-type {
    border-top: none;
  }

  .mapContainer {
    grid-column-start: 3;
    grid-row-start: 1;
    width: 100%;
    min-width: 100%;
    position: sticky;
    padding: 50px 10px;
    top: 0;
  }

  .filterElement {
    margin-bottom: 25px;
  }

  .filterForm {
    width: 100%;
    padding: 0 20px;
  }

  .filterForm legend {
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
  }

  .filterForm fieldset {
    width: 100%;
    display: flex;
  }

  .filterForm label,
  input {
    display: block;
    text-align: left;
    font-weight: bold;
  }

  .filterForm label svg {
    font-size: 0.8em;
    padding: 0;
  }

  .filterForm input {
    float: left;
    margin-right: 10px;
  }

  .labelText {
    margin-left: 5px;
  }

  .filterForm span {
    padding: 0;
  }

  .filterForm label {
    margin-bottom: 10px;
    font-size: 0.8em;
    display: flex;
    /* justify-content: center; */
    align-items: flex-end;
    width: 150px;
  }
}
