.userReview {
  width: 100%;
  border: 2px solid #e7e7e7;
  border-radius: 5px;
  padding: 5px;
}

.venueHeader {
  padding-top: 5px;
}

.venueHeader,
.ratingsContainer,
.about {
  padding-left: 3px;
  padding-right: 3px;
}

.ratingsContainer {
  margin-bottom: 5px;
}

.ratingElement {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 5px;
}

.venueHeader {
  margin-bottom: 3px;
}

.venueHeader h3 {
  margin-bottom: 3px;
  word-wrap: break-word;
}

.venueHeader p {
  font-style: italic;
}

.content {
  position: relative;
  max-width: 100%;
  border: 2px solid #e7e7e7;
  padding: 10px;
  /* Somethings */
  border-radius: 0.5rem;
  margin: 20px 0 10px 0;
  background-color: rgb(212, 231, 248);
}

.content::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 0;
  border-top: 0.75rem solid transparent;
  border-right: 0.75rem solid transparent;
  border-left: 0.75rem solid transparent;
  border-top: none;
  border-bottom: 0.8rem solid rgb(212, 231, 248);
}

.userReviewControls {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10%;
  margin: 20px auto 10px auto;
}

.userReviewControls button {
  width: 100%;
  height: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
  background: transparent;
  border: none;
}

.userReviewControls button svg {
  font-size: 2em;
}

.userReviewControls button span {
  font-size: 0.8em;
}

#delete {
  color: rgb(175, 21, 21);
}

#edit {
  color: #064789;
}
