.state {
  text-transform: uppercase;
}

.venueProfile > header {
	 background-color: #f14038;
	 padding: 5px;
	 margin: 0;
	 color: white;
}

.link > a {
  color: black;
}

.link > a:visited {
  color: black;
}

.city {
  text-transform: capitalize;
}

.type {
  text-transform: capitalize;
}

.average {
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}

.contact {
  padding: 0 10px;
  text-align: center;
  margin-bottom: 20px;
}
.average div {
  font-size: 1.3rem;
}
 
.venueProfile {
	border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	padding-bottom: 5px;
}


.venueProfile p {
  margin: 5px 0;
}

.ratings {
  margin-bottom: 25px;
}

.amenities h3 {
  text-align: center;
}

.amenities {
	 margin-top: 15px;
	 width: 100%;
}

.amenities li {
  padding: 0 10px;
	width: 60%;
  margin: 5px auto;
  text-align: left;
}

.amenities li:before {
	 color: green;
	 font-weight: 800;
  content: '✓';
  margin-right: 5px;
  font-size: 1.3rem;
}

.venue_controls {
  width: 100%;
  margin: 0 auto;
  display: block;
  justify-content: center;
  text-align: center;
}

.venue_controls button {
  display: block;
  min-width: 180px;
  height: 40px;
  margin: 20px auto;
  border-radius: 17px;
  border-color: blue;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.1em;
}

.rating {
  color: gold;
  font-size: 1.3rem;
}

.price {
  color: green;
}

.volume {
  color: black;
}

.NA {
  color: black;
}

@media screen and (min-width: 450px) {
  .venue_controls {
    display: flex;
    justify-content: center;
  }

  .venue_controls a {
    display: block;
    min-width: 180px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 800px) {
  .venue_controls button {
    min-width: 100px;
    font-size: 1em;
  }
}
