.refine_form {
  display: block;
  width: 80%;
  margin: 100px auto;
}

.refine_form_label {
  text-align: center;
  display: block;
  margin: 1.5em;
}

.refine_form_select {
  display: block;
  width: 80%;
  padding: 5px 10px;
  height: 2.5rem;
  border-radius: 5px;
  margin: 5px auto;
  cursor: pointer;
}

.refine_form_button {
  display: block;
  min-width: 140px;
  height: 40px;
  margin: 20px auto;
  border-radius: 17px;
  border-color: blue;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.1em;
}


@media screen and (min-width: 450px) {
  .refine_form {
    width: 70%;
  }
}