* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
}






@media screen and (min-width: 450px) {
  body {
    width: 80%;
    margin: auto;
  }




}




@media screen and (min-width: 800px) {

  body {
    width: 85%;
    margin: 0 auto;
  }


}